<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>File Uploader</title>
  </head>
  <body class="w-[100vw] h-[100vh] bg-gray-800 grid grid-cols-12 grid-rows-12">
    <%- include("../partials/dashboard-header") %>
    <!--  -->
    <section
      class="col-start-1 col-end-5 row-start-2 row-end-13 bg-gray-900 sm:col-end-4 md:col-end-3 flex flex-col gap-2 pl-2"
    >
      <%- include("../partials/dashboard-link", {path: `/dashboard/`, text:
      `home`, iconName: `home`, shrink: false}) %>
      <!--  -->
      <%- include("../partials/dashboard-link", {path:
      `/dashboard/${selectedFolderData.id}`, text: `${selectedFolderData.name}`,
      iconName: `folder-open`, shrink: false}) %>
    </section>
    <main
      class="col-start-5 col-end-13 row-start-2 row-end-13 sm:col-start-4 md:col-start-3 bg-gray-800 p-4"
    >
      <%- include("../partials/cta-link", {path:
      `/dashboard/${selectedFolderData.id}/shared-options/toggle-shared`, text:
      `${selectedFolderData.shared ? `Dismantle`: `Create`} shared folder`,
      inverted: false}) %>
      <!--  -->
      <% if(selectedFolderData.shared === true) { %>

      <section class="py-4 flex flex-col md:flex-row gap-4">
        <form
          method="post"
          action="/dashboard/<%- selectedFolderData.id %>/shared-options/"
          class="w-full md:w-[350px] flex flex-col gap-2"
        >
          <%- include("../partials/input-field", {label: `add collaborator
          entering email`, nameId: `email`, type: `email`, placeholder:
          `john_doe@example.com`, value: `${inputValues.email}`}) %>
          <!--  -->
          <%- include("../partials/form-errors", {validationErrors}) %>
          <!--  -->
          <%- include("../partials/form-button", {text: `Add`}) %>
        </form>

        <div>
          <h3
            class="font-barlow font-bold tracking-wider text-gray-200 text-xl mb-2"
          >
            Folder is shared with
          </h3>
          <ul class="space-y-2">
            <% selectedFolderData.sharedTo.forEach((user) => { %>
            <li
              class="text-gray-400 flex items-center justify-between border-2 border-gray-400 rounded-md px-4 hover:text-gray-200 hover:border-gray-200"
            >
              <span> <%- user.username %> </span>
              <%- include("../partials/dashboard-link",
              {path:`/dashboard/${selectedFolderData.id}/shared-options/remove-user/${user.id}`,
              iconName: `user-remove`, text: `remove user`, shrink: false}) %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>
      <% } %>
    </main>
  </body>
</html>
