<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>File Uploader</title>
  </head>
  <body class="w-[100vw] h-[100vh] bg-gray-800 grid grid-cols-12 grid-rows-12">
    <%- include("../partials/dashboard-header") %>
    <!--  -->
    <section
      class="col-start-1 col-end-5 row-start-2 row-end-13 bg-gray-900 sm:col-end-4 md:col-end-3 flex flex-col gap-2 pl-2"
    >
      <%- include("../partials/dashboard-link", {path: `/dashboard/`, text:
      `home`, iconName: `home`}) %>
    </section>
    <main
      class="col-start-5 col-end-13 row-start-2 row-end-13 sm:col-start-4 md:col-start-3 bg-gray-800 p-4"
    >
      <form
        action="<%- actionPath %>"
        method="post"
        class="w-full md:w-[600px] flex flex-col gap-2 border border-red-300 p-4 rounded-md items-center text-center"
      >
        <%- include("../partials/section-heading", {text: heading}) %>
        <!--  -->
        <%- include("../partials/paragraph", {text: message}) %>

        <!--  -->
        <div class="space-x-4">
          <%- include("../partials/cta-link", {path: cancelPath, text: `Cancel`,
          inverted: false}) %>
          <!--  -->
          <%- include("../partials/form-button", {text: `Delete`}) %>
        </div>
      </form>
    </main>
  </body>
</html>
