<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <title>File Uploader</title>
  </head>
  <body class="w-[100vw] h-[100vh] bg-gray-800 flex flex-col">
    <%- include("../partials/header") %>

    <main class="px-4 py-8 flex flex-col items-center">
      <section>
        <%- include("../partials/section-heading", {text: `what is file
        storage`}) %>
      </section>

      <section>
        <%- include("../partials/section-heading", {text: `ready to try`}) %>
      </section>

      <section>
        <%- include("../partials/section-heading", {text: `access your files
        from any device`}) %>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
