<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <title>File Uploader</title>
  </head>
  <body class="w-[100vw] h-[100vh] bg-gray-800 flex flex-col">
    <%- include("../partials/header") %>

    <main class="px-4 py-8 flex flex-col items-center">
      <form
        action="<%- actionPath %>"
        method="post"
        class="w-full sm:w-[600px] flex flex-col gap-2"
      >
        <%- include("../partials/section-heading", {text: `create new account`})
        %>
        <!--  -->
        <%- include("../partials/input-field", {label: `username`, nameId:
        `username`, type: `text`, placeholder: `john_doe`, value:
        `${inputValues.username}`}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: `email`, nameId: `email`,
        type: `email`, placeholder: `john_doe@example.com`, value:
        `${inputValues.email}`}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: `password`, nameId:
        `password`, type: `password`, placeholder: `••••••••`, value:
        `${inputValues.password}`}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: `confirm password`,
        nameId: `confirmPassword`, type: `password`, placeholder: `••••••••`,
        value: `${inputValues.confirmPassword}`}) %>
        <!--  -->
        <%- include("../partials/form-errors", {validationErrors}) %>
        <!--  -->
        <%- include("../partials/form-button", {text: `Submit`}) %>
      </form>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
