<!-- 
params: {
  selectedFolderData: {
    id: string;
    name: string;
    description: string | null;
    createdAt: Date;
    updatedAt: Date;
    createdById: string;
    shared: boolean;
  },
  currentUser: string (id)
}
-->
<main
  class="col-start-5 col-end-13 row-start-2 row-end-13 sm:col-start-4 md:col-start-3 bg-gray-800 p-4 space-y-4"
>
  <!-- current user is owner display controls -->
  <% if(currentUser === selectedFolderData.createdById) { %>
  <div class="flex items-center gap-2">
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.name}/edit`, text: `edit folder`, iconName:
    `folder-update`}) %>
    <!--  -->
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.name}/delete`, text: `delete folder`,
    iconName: `folder-delete`}) %>
    <!--  -->
    <%- include("./dashboard-link", {path: ``, text:
    `${selectedFolderData.shared ? `shared folder options`:`make folder
    shared`}`, iconName: `folder-special`}) %>
  </div>
  <% } %>
  <!-- general information -->
  <header>
    <%- include("./section-heading", {text: selectedFolderData.name}) %>
    <!--  -->
    <%- include("./paragraph", {text: selectedFolderData.description}) %>
  </header>

  <!-- FILES -->
  <section>
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.name}/upload-file`, text: `upload file`,
    iconName: `file-upload`}) %>
  </section>
</main>
