<!-- 
params: {
  selectedFolderData: {
    id: string;
    name: string;
    description: string | null;
    createdAt: Date;
    updatedAt: Date;
    createdById: string;
    shared: boolean;
    files: {
      id: string,
      name: string
    }
  },
  currentUser: string (id)
}
-->
<main
  class="col-start-5 col-end-13 row-start-2 row-end-13 sm:col-start-4 md:col-start-3 bg-gray-800 p-4 space-y-4"
>
  <!-- current user is owner display controls -->
  <% if(currentUser === selectedFolderData.createdById) { %>
  <div class="flex items-center gap-2">
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.id}/edit`, text: `edit folder`, iconName:
    `folder-update`}) %>
    <!--  -->
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.id}/delete`, text: `delete folder`,
    iconName: `folder-delete`}) %>
    <!--  -->
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.id}/shared-options`, text:
    `${selectedFolderData.shared ? `shared folder options`:`make folder
    shared`}`, iconName: `folder-special`}) %>
  </div>
  <% } %>
  <!-- current user is collaborator -->
  <% if(currentUser !== selectedFolderData.createdById &&
  selectedFolderData.shared === true) { %>
  <div class="flex items-center gap-2">
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.id}/exit-shared-folder`, text: `exit shared
    folder`, iconName: `user-remove`}) %>
  </div>
  <% } %>
  <!-- general information -->
  <header class="flex items-center gap-8">
    <div>
      <% if(selectedFolderData.shared === true) { %>
      <p class="font-bold font-barlow text-blue-300 tracking-wide">
        &#9733;shared folder
      </p>
      <% } %>
      <!--  -->
      <%- include("./section-heading", {text: selectedFolderData.name}) %>
      <!--  -->
      <%- include("./paragraph", {text: selectedFolderData.description}) %>
    </div>
    <%- include("./dashboard-link", {path:
    `/dashboard/${selectedFolderData.id}/upload-file`, text: `upload new file`,
    iconName: `file-upload`}) %>
  </header>

  <!-- FILES -->
  <section>
    <ul class="space-y-2">
      <% selectedFolderData.files.forEach((file) => { %>
      <li
        class="flex items-center justify-between border border-gray-400 rounded-md px-4 py-2 text-gray-400 hover:border-gray-200 hover:text-gray-200"
      >
        <%- file.name %>
        <div class="flex items-center gap-4">
          <%- include("./dashboard-link", {path:
          `/dashboard/${selectedFolderData.id}/${file.id}/download`, text:
          `download file`, iconName: `file-download`}) %>
          <!--  -->
          <%- include("./dashboard-link", {path:
          `/dashboard/${selectedFolderData.id}/${file.id}/delete`, text: `delete
          file`, iconName: `file-delete`}) %>
        </div>
      </li>
      <% }) %>
    </ul>
  </section>
</main>
